*.pyc
*.pyo
.DS*
.pylint_rc
/.idea
/.project
/.pydevproject
/.settings
Thumbs.db
*~
.cache
.coverage
coverage.xml

# Testing
tests/home/userdata/addon_data/service.iptv.manager/playlist.m3u8
tests/home/userdata/addon_data/service.iptv.manager/epg.xml
.env

Pipfile
Pipfile.lock
