[MESSAGES CONTROL]
disable=
    bad-option-value,
    cyclic-import,  # This should be fixed
    duplicate-code,
    fixme,  # Allow FIXMEs in code is a useful practice
    import-outside-toplevel,  # Done on purpose to reduce overhead at startup
    old-style-class,
    raise-missing-from,  # This does not work on Python 2.7, remove later
    super-with-arguments,
    too-few-public-methods,
    too-many-branches,
max-line-length=160
max-statements=70
